/*Beginning of Sign In*/
.form-signin {
  color: #0daae2;
  width: 420px;
  padding: 15px;
  margin: 0 auto;
}


#not a:hover{
  text-decoration: none;
}

@media (max-width: 578px) {
  .form-signin{
    width: 80%;
  }
}

/*End of Sign In*/