/*Beginning of Sign Up */
.form-signin {
  color: #0daae2;
  width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup{
  width: 600px;
  margin: 0 auto;
  color: lightseagreen;
}

.form-signup legend{
  font-size: 22px;
}

@media (max-width: 768px){
  body {
    padding-top: 40px;
  }
  .text-center .btn{
    font-size: 21px;
  }  
}

@media (max-width: 768px){
  .form-signup{
    width: 100%;
    margin: 0 auto;
    color: lightseagreen;
  }

  .form-signup h2{
    font-size: 25px;
  }

  .form-signup legend{
    font-size: 20px;
  }

  .float-l{
    width: 100%;
  }

  #message {
    float: left;
  }

}

/*End of Sign Up*/

/*Beginning of Sign In*/
.form-signin {
  color: #0daae2;
  width: 420px;
  padding: 15px;
  margin: 0 auto;
}


#not a:hover{
  text-decoration: none;
}

@media (max-width: 578px) {
  .form-signin{
    width: 80%;
  }
}

/*End of Sign In*/

Beginning of user page